<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Jogoteca</title>
    <!-- A função url_for serve para que a url do arquivo seja encontrada de acordo com o nome dele e a pasta em que ele está, independentemente da hierarquia dele,
    o primeiro parâmetro é a pasta e o "filename" é o nome do arquivo. São as URLs dinâmicas. -->
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='app.css')}}">
</head>

<body>
    <div class="container">
        <!-- Aqui está sendo recuperar mensagens que foram disparadas com o flash -->
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <ul id="messages" class="list-unstyled">
                    {% for message in messages %}
                        <li class="alert alert-success">{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}

        <div class="page-header d-flex justify-content-between">
            <h1>{{ titulo }}</h1>
            <div>
                <a href="{{ url_for('logout') }}">Logout</a>
                <a href="{{ url_for('login') }}">Login</a>
                <a href="{{ url_for('index') }}">Paginal Inicial</a>
                <a href="{{ url_for('novo') }}">Novo Jogo</a>
            </div>
        </div>

        <!-- Aqui eu estou declarando um bloco de contéudo dinamico. No caso a variável conteudo -->
        {% block conteudo %} {% endblock %}

        <script type="text/javascript" src="{{ url_for('static', filename='jquery.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='app.js') }}"></script>

    </div>
</body>

</html>